// Copyright (c) 2023 Nordic Semiconductor ASA
// SPDX-License-Identifier: Apache-2.0

/dts-v1/;
#include <nordic/nrf52832_qfaa.dtsi>
#include "bbqovn_a_release-pinctrl.dtsi"

/ {
	model = "BBQOVN_A_RELEASE";
	compatible = "dx-smart,bbqovn-a";

	chosen {
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
		zephyr,uart-mcumgr = &uart0;
		zephyr,bt-mon-uart = &uart0;
		zephyr,bt-c2h-uart = &uart0;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
	};

	leds {
		compatible = "gpio-leds";
		led0: led_0 {
			gpios = <&gpio0 17 (GPIO_ACTIVE_LOW)>;
			label = "Red LED 0";
		};
		led1: led_1 {
			gpios = <&gpio0 19 (GPIO_ACTIVE_LOW)>;
			label = "Green LED 1";
		};
	};

	pwmleds {
		compatible = "pwm-leds";
		pwm_led0: pwm_led_0 {
			pwms = <&pwm0 0 PWM_USEC(250) PWM_POLARITY_NORMAL>;
		};
	};

	buttons {
		compatible = "gpio-keys";
		button0: button_0 {
			gpios = <&gpio0 11 (GPIO_ACTIVE_LOW)>;
			label = "Push button switch 0";
		};
		button1: button_1 {
			gpios = <&gpio0 14 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Push button switch 1";
		};

		wakeup-source;
	};

	arduino_header: connector {
		compatible = "arduino-header-r3";
		#gpio-cells = <2>;
		gpio-map-mask = <0xffffffff 0xffffffc0>;
		gpio-map-pass-thru = <0 0x3f>;
		gpio-map = <0 0 &gpio0 3 0>,
			 <1 0 &gpio0 4 0>,
			 <2 0 &gpio0 28 0>,
			 <3 0 &gpio0 29 0>,
			 <4 0 &gpio0 30 0>,
			 <5 0 &gpio0 31 0>,
			 <6 0 &gpio0 11 0>,
			 <7 0 &gpio0 12 0>,
			 <8 0 &gpio0 13 0>,
			 <9 0 &gpio0 14 0>,
			 <10 0 &gpio0 15 0>,
			 <11 0 &gpio0 16 0>,
			 <12 0 &gpio0 17 0>,
			 <13 0 &gpio0 18 0>,
			 <14 0 &gpio0 19 0>,
			 <15 0 &gpio0 20 0>,
			 <16 0 &gpio0 22 0>,
			 <17 0 &gpio0 23 0>,
			 <18 0 &gpio0 24 0>,
			 <19 0 &gpio0 25 0>,
			 <20 0 &gpio0 26 0>,
			 <21 0 &gpio0 27 0>;	/* D15 */
	};

	arduino_adc: analog-connector {
		compatible = "arduino,uno-adc";
		#io-channel-cells = <1>;
		io-channel-map = <0 &adc 1>, <1 &adc 2>, <2 &adc 4>, <3 &adc 5>, <4 &adc 6>, <5 &adc 7>;	/* A5 = P0.31 = AIN7 */
	};

	nrf_radio_fem: nrf21540_fem {
		compatible = "nordic,nrf21540-fem";
		tx-en-gpios = <&gpio0 28 GPIO_ACTIVE_HIGH>;
		rx-en-gpios = <&gpio0 26 GPIO_ACTIVE_HIGH>;
		pdn-gpios = <&gpio0 24 GPIO_ACTIVE_HIGH>;
		ant-sel-gpios = <&gpio0 27 GPIO_ACTIVE_HIGH>;
		mode-gpios = <&gpio0 25 GPIO_ACTIVE_HIGH>;
		spi-if = <&nrf_radio_fem_spi>;
		supply-voltage-mv = <3000>;
	};

	/* These aliases are provided for compatibility with samples */
	aliases {
		led0 = &led0;
		led1 = &led1;
		pwm-led0 = &pwm_led0;
		sw0 = &button0;
		sw1 = &button1;
		bootloader-led0 = &led0;
		mcuboot-button0 = &button0;
		mcuboot-led0 = &led0;
		watchdog0 = &wdt0;
	};
};

&adc {
	status = "okay";
};

&gpiote {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

arduino_serial: &uart0 {
	compatible = "nordic,nrf-uarte";
	status = "okay";
	current-speed = <1000000>;
	pinctrl-0 = <&uart0_default>;
	pinctrl-1 = <&uart0_sleep>;
	pinctrl-names = "default", "sleep";
};

&pwm0 {
	status = "okay";
	pinctrl-0 = <&pwm0_default>;
	pinctrl-1 = <&pwm0_sleep>;
	pinctrl-names = "default", "sleep";
};

fem_spi: &spi0 {
	status = "okay";
	cs-gpios = <&gpio0 15 GPIO_ACTIVE_LOW>;

	pinctrl-0 = <&spi0_default>;
	pinctrl-1 = <&spi0_sleep>;
	pinctrl-names = "default", "sleep";
	nrf_radio_fem_spi: nrf21540_fem_spi@0 {
		compatible = "nordic,nrf21540-fem-spi";
		status = "okay";
		reg = <0>;
		spi-max-frequency = <8000000>;
	};
};

&radio {
	fem = <&nrf_radio_fem>;
};

&flash0 {

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 0xc000>;
		};
		slot0_partition: partition@c000 {
			label = "image-0";
			reg = <0x0000C000 0x37000>;
		};
		slot1_partition: partition@43000 {
			label = "image-1";
			reg = <0x00043000 0x37000>;
		};
		storage_partition: partition@7a000 {
			label = "storage";
			reg = <0x0007a000 0x00006000>;
		};
	};
};
